body{
    display: flex;
    flex-direction: column;
    justify-self: center;
    font-family: Onesta, sans-serif;
    /* width: 1920px;
    height: 1024px; */
}
h2 {
    font-size: 36px;
    color: #4C3932;
    line-height: 0%;
    place-self: center;
}
#login-container {
    width: 540px;
    height: 790px;
    margin-top: 70px;
    background-color: #eae0d5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}

p {
    font-weight: 100;
    line-height: 15px;
    place-self: center;
}

.form-login {
    padding: 10px 10px 10px 10px;
    /* gap: 10px; */
}
.email-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.password-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.email-label {
    font-size: 20px;
    font-weight: bold;
    color: #5e503f;
    margin-left: 13px;
    color: #4C3932;
    /* gap: 10px;
    display: flex; */
}
.password-label {
    font-size: 20px;
    font-weight: bold;
    color: #5e503f;
    margin-left: 13px;
    color: #4C3932;
}
.confirm-password-label {
    font-size: 20px;
    font-weight: bold;
    color: #5e503f;
    margin-left: 13px;
    color: #4C3932;
}
.email {
    width: 420px;
    height: 30px;
    place-self: center;
    padding-left: 10px;
    padding-bottom: 2px;
    padding-top: 2px;
    /* margin-left: 40px; */
    margin-bottom: 20px;
    border-radius: 10px;
    
}
.password {
    width: 420px;
    height: 30px;
    place-self: center;
    padding-left: 10px;
    padding-bottom: 2px;
    padding-top: 2px;
    /* margin-left: 40px; */
    margin-bottom: 20px;
    border-radius: 10px;
}
.confirm-password {
    width: 420px;
    height: 30px;
    place-self: center;
    padding-left: 10px;
    padding-bottom: 2px;
    padding-top: 2px;
    /* margin-left: 40px; */
    margin-bottom: 20px;
    border-radius: 10px;
}
.submit-button {
    display: flex;
    place-self: center;
    /* width: 467px; */
    padding: 0px 165px;
    height: 35px;
    text-align: center;
    transition: all 300ms;
    background-color: #c6ac8e;
    font-size: large;
    border-radius: 5px;
    border: none;
}
.submit-button:hover {
    background-color: #5e503f;
    color: #fff;
}
.login-button {
    display: flex;
    place-self: center;
    /* width: 467px; */
    padding: 0px 195px;
    height: 35px;
    text-align: center;
    transition: all 300ms;
    background-color: #c6ac8e;
    font-size: large;
    border-radius: 5px;
    border: none;
}
.login-button:hover {
    background-color: #5e503f;
    color: #fff;
}
.social-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* margin-top: 2px; */
}
.g-signin2 {
    display: flex;
    place-self: center;
    /* width: 467px; */
    padding: 15px 131px 30px 131px;
    height: 20px;
    text-align: center;
    transition: all 300ms;
    background-color: #c6ac8e;
    font-size: large;
    border-radius: 5px;
}
.g-signin2:hover {
    background-color: #5e503f;
    color: #fff;
}
.facebook-login {
    display: flex;
    place-self: center;
    /* width: 467px; */
    padding: 15px 109px 0px 109px;
    height: 74px;
    text-align: center;
    transition: all 300ms;
    background-color: #c6ac8e;
    font-size: large;
    border-radius: 5px;
}
.facebook-login:hover {
    background-color: #5e503f;
    color: #fff;
}
