body {
    font-family: Onesta, sans-serif;
    margin: 0;
}
body::-webkit-scrollbar{
    display: none;
}
html {
    max-width: 100vw;
    overflow-x:hidden;
}
hr {
    border: none;
    border-top: 2px solid #ccc;
    margin: 20px 0;
}
#profile-page-navbar {
    background-color: #C6AC8E;
    /* padding: 10px 20px; */
    /* border-bottom: 1px solid #eee; */
    /* width: 101%; */
    width: 100%;
    position: relative;
    /* justify-self: center; */
    /* right: 10px;
    bottom: 10px; */
}
.navbar {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #C6AC8E;
    height: 60px;
}
#info-profil {
    display: flex;
    flex-direction: column;
    justify-self: center;
    padding: 0px;
    margin-bottom: 50px;
    width: 1160px;
}
.profil-info-box {
    display: flex;
    flex-direction: column;
    /* align-items: start; */
    border-radius: 5px;
    border: 1px solid #ccc;
    justify-content: center;
    padding-left: 30px;
    padding-right: 40px;
    width: 1095px;
    background-color: #ffffff;
}
.profil-info-box h2 {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
}
.profil-info-box p {
    margin: 5px 0 15px;
    font-size: 14px;
}
#riwayat {
    display: flex;
    flex-direction: column;
    /* align-items: start; */
    border-radius: 5px;
    border: 1px solid #ccc;
    justify-content: center;
    justify-self: center;
    padding-left: 30px;
    padding-right: 40px;
    width: 1095px;
    background-color: #ffffff;  
}
footer {
    /* padding: 20px; */
    text-align: center;
    /* position: relative; */
    background-color: #C6AC8E;
    color: #fff;
    width: 100vw;
    height: 100px;
    /* top: 10px;
    right: 10px; */
}